<h1>LTracker</h1>

		<form class="form-stacked" action="/" method="post">
			<fieldset>
				<legend>The easiest way to find the right tracking page</legend>
					<div class="clearfix">
    						<label></label>
    						<div class="input">
        						<input class="xlarge" type="text" name="number" placeholder="Your tracking number goes here!" />
    						</div>
					</div>
					<button type="submit" class="btn btn-primary">Get Tracking Page <i class="icon-arrow-right icon-white"></i></button>
			</fieldset>	
		</form>
