<html>
	<head>

		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
		<link rel="script" href="/js/bootstrap.js">
	</head>

<h1>Welcome to CV's tracking tool</h1>
<form action="/" method="post">
	<input type="text" name="tracking"></br>
	<input type="submit">
</form>