<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<link href="/bootstrap.css" rel="stylesheet" type="text/css"  />
		<link href="/bootstrap-responsive.css" rel="stylesheet" type="text/css"  />
	</head>
<body>

	<h1>Welcome to CV's tracking tool</h1>

	<form class="form-stacked" action="/" method="post">
		<fieldset>
			<legend>The form</legend>
			<em>
				
				<div class="clearfix">
    <label>Lorem ipsum</label>
    <div class="input">
        <input class="xlarge" type="text" />
    </div>
</div>
				<button class="btn primary" type="submit">Go!</button>
			</em>
		</fieldset>	
	</form>

</body>

</html>