<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><%= @title %></title>
		<link href="/bootstrap.css" rel="stylesheet" type="text/css"  />
		<link href="/bootstrap-responsive.css" rel="stylesheet" type="text/css"  />
	</head>
<body>

<div class="container">
    <div class="span7">
        <h1>LTracker</h1>

		<form class="form-stacked" action="/" method="post">
			<fieldset>
				<legend>The easiest way to find the right tracking page</legend>
					<div class="clearfix">
    						<label></label>
    						<div class="input">
        						<input class="xlarge" type="text" placeholder="Your tracking number goes here!" />
    						</div>
					</div>
					<button type="submit" class="btn btn-primary">Get Tracking Page <i class="icon-arrow-right icon-white"></i></button>
			</fieldset>	
		</form>
        <a href="/about">About</a>
    </div>

    <div class="span2">
    	<!--

        <h1>Column #2</h1>
        <p>Content for column #2.</p>
    -->
    </div>

</div>

</body>

</html>